.container {
  max-width: 1440px;
  margin: 0 auto;
}
.main_banner_content {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #545454;
  padding: 100px 50px;
}
.main_banner_text {
  max-width: 511px;
}
.main_banner_text h1 {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin: 0;
}
.main_banner_text h2 {
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin: 0;
}
.search_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -35px;
}
.search_bar input[type="text"] {
  display: block;
  width: 100%;
  max-width: 680px;
  padding: 21px 10px;
  border: none;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  border-radius: 33px;
  outline: none;
  text-indent: 30px;
}
.search_bar input[type="submit"] {
  background: #20B2E0;
  border: none;
  padding: 19px 86px;
  border-radius: 33px;
  margin-left: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.video_showroom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}
.video_showroom h3 {
    font-size: 32px;
    color: #545454;
    max-width: 500px;
    font-weight: 500;
}
.formation_way_content_inner {
  display: flex;
    justify-content: space-around;
}
.formation_way_content_inner img {
  max-width: 70px;
}
.formation_way h4 {
  color: #E02B20;
  margin-left: 50px;
  font-size: 25px;
}
.system_names {
  background: #fff;
  padding: 20px 60px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 20%);
  border-radius: 10px;  
  max-width: 280px;
}
.system_names p {
  font-size: 14px
}
.system_names h5 {
  margin: 0;
  font-size: 18px;
  color: #20B2E0;
}
